*,
::before,
::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 18px;
}

/* ****************************** INDEX ******************************/

body {
    height: 100vh;
    width: 100%;
    background-color: rgb(51, 85, 136);
    margin: 0;
    padding: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

header {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;
    font-family: "Courier New", Courier, monospace;
    color: white;
    padding: 1em 0;
    width: 100%;
    padding-top: 30px;
    padding-bottom: 30px;
    text-align: center;
}

.aHead {
    text-decoration: none;
    outline: none;
    cursor: pointer;
    color: white;
}

.titre-haut {
    text-align: center;
    margin-top: 0;
    margin-bottom: 1em;
}

.logo {
    max-width: 140px;
}

.logo2 {
    max-width: 70%;
}

.logo3 {
    max-width: 30%;
    margin: 0 auto;
}

.divLog {
    margin-top: 2em;
    display: flex;
}

.logo4 {
    display: inline-block;
    pointer-events: none;
}

.logo4-img {
    max-width: 50%;
    display: block;
    margin: 0 auto;
    pointer-events: auto;
}

.logoBtn{
    margin: 2em;
    max-width: 340px;
    cursor: pointer;
}

.logoBtn2{
    margin-left: 1em;
    margin-top: 1em;
    max-width: 120px;
    cursor: pointer;
}

.logo-link {
    display: inline-block;
}

.blue {
    color: blue;
}

.red {
    color: red;
}

.progress-bar {
    width: 60%;
    margin: 0 auto;
    margin-top: 10px;
    height: 20px;
    border-radius: 5px;
}

.progress-bar-cell {
    width: 20%;
    border: 1px solid #000000;
    height: 20px;
    background-color: #745b0f;
    border-radius: 5px;
    text-align: center;
    font-family: "Freemono", FreeMono, monospace;
    height: 2em;
    line-height: 2em;
}

.activ {
    background-color: #c7c14c;
}

.lien {
    display: block;
    text-decoration: none;
    outline: none;
    cursor: pointer;
    color: rgb(0, 0, 0);
    height: 100%;
    width: 100%;
}

main {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.bloc-central {
    margin: 1em auto;
    padding: 1em;
    border-radius: 10px;
    background-color: #e9e7e7;
    width: 70%;
    text-align: center;
}

.bloc-central p {
    margin-bottom: 1em;
}

.blocexplication {
    width: 70%;
    display: flex;
    justify-content: space-around;
    margin: auto;
    text-align: center;
}

.bloc-explicatif {
    margin: 1em;
    padding: 1em;
    border-radius: 10px;
    background-color: khaki;
    width: 50%;
    text-align: center;
}

.textOk {
    font-family: "Freemono", FreeMono, monospace;
    font-weight: 300;
    font-stretch: ultra-condensed;
}

.text3{
    font-family: Georgia, serif;
    font-weight: 200;
}

.big{
    font-weight: bold;
    font-size: 22px;
}

.textOk p {
    margin-bottom: 1em; 
}

.bouton {
    background-color: #383434;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 5px 5px;
    margin: 8px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.1s ease-in-out;
}

.hautgauche {
    align-self: flex-start;
}


.bouton:hover {
    background-color: #6e6c6f;
}

.box-centre {
    display: flex;
    width: 70%;
    flex-direction: column;
    padding: 2%;
    align-items: center;
    background-color: #e9e7e7;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
    align-self: center;
    margin: auto;
    margin-bottom: 50px;
    text-align: center;
}

.choix {
    display: flex;
    justify-content: space-evenly;
    width: 70%;
    margin-top: 20px;
    /* background-color: #312727; */
}

.perso {
    max-width: 300px;
    max-height: 200px;
}

.perso-text {
    text-align: center;
    margin-top: 10px;
    font-weight: bold;
}

.pres-perso {
    margin-top: 30px;
}

.txtG{
    text-align: left;
}
.txtGras{
    font-weight: bold;
}

.txtM{
    margin-top: 1em;
}

.mH{
    margin-top: 2em;
}

/* ****************************** H2 ******************************/
.btnVF {
    display: inline-block;
    padding: 0;
    font-size: 14pt;
    color: black;
    cursor: pointer;
    margin: 15px;
    text-decoration: none;
}

.btnVF-img {
    max-width: 110px;
}


.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: none;
}

.popup {
    position: absolute;
    z-index: 999;
    width: 50%;
    background-color: rgb(255, 255, 255);
    border-radius: 5px;
    padding: 2em;
    box-shadow: 10px 12px 0 rgb(136, 224, 105);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    overflow-y: auto;
    max-height: 90%;
}

.popup h2 {
    text-align: center;
}

.popup button {
    float: right;
}

.popupText {
    text-align: center;
    font-weight: bold;
    font-size: 19px;
    margin-bottom: 1em;
}

.popupP {
    margin-bottom: 2em;
}

.popup button.bouton-gauche {
    float: left;
}

.btnClose {
    float: right;
    cursor: pointer;
    font-family: Arial;
    font-size: 24px;
    font-weight: bold;
}

.espace {
    margin: 15px;
}

.btnP{
    display: flex;
    margin-top: 2em;
}

/* ****************************** explic ******************************/
.row {
    display: flex;
    width: 70%;
    justify-content: space-around;
    margin: 15px;
    margin-bottom: 10px;
}

.blocExpl {
    display: inline-block;
    pointer-events: none;
    background-color: transparent;
    cursor: pointer;
}

.imgExpl{
    max-width: 340px;
    pointer-events: auto;
    display: block;
}
/* 
.bloc {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 48%;
    height: 50px;
    background-color: #587ac4;
    color: white;
    text-decoration: none;
    border-radius: 5px;
} */



.recap {
    display: none;

}


/* Styles pour le footer */
footer {
    background-color: black;
    color: white;
    text-align: center;
    padding: 1em 0;
    margin-top: auto;
}

@media (max-width: 767px) {
    .main {
        margin: 30px;
    }

    .blocexplication {
        flex-wrap: wrap;
    }

    .bloc-explicatif {
        width: 90%;
    }

    .box-centre {
        width: 90%;
        padding: 2%;
    }

    .choix {
        flex-wrap: wrap;
        justify-content: center;
        margin: 20px;
    }

    .perso {
        max-width: 100%;
        max-height: 150px;
        margin: 20px;
    }

    .perso-text {
        font-size: 14px;
    }

    .pres-perso {
        font-size: 14px;
    }

    .bloc-explicatif img {
        max-width: 100px;
    }
}